<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecordScreen"
        tools:targetApi="31">

        <!-- 🏠 Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RecordScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ℹ️ About Us Activity -->
        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            android:theme="@style/Theme.RecordScreen" />

        <!-- ⚠️ Hazard Menu Activity -->

        <activity
            android:name=".HazardMenuActivity"
            android:exported="false"
            android:label="Hazard Menu"
            android:theme="@style/Theme.RecordScreen" />


        <!-- 🎥 Screen Recording Service -->
        <service
            android:name=".ScreenRecordService"
            android:exported="false"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>
